POSTGRES_PASSWORD=fastapi_traefik
tasUser=CHANGE_ME
tasSecret=CHANGE_ME
jwtSecret=test_secret
alg=HS256
tasURL=https://tas-dev.tacc.utexas.edu/api-test
ENVIRONMENT=dev
ENV=dev
DATABASE_URL=postgresql://fastapi_traefik:fastapi_traefik@localhost:5432/fastapi_traefik
